#header{
  position: absolute;
  width: 100%;
  top: 10px;
  background-color: lightgreen;
  padding: 20px;
  height: 40px;
}
.vmenu{
  width:100px;

}
.vmenu a{
  background-color: honeydew;
  color: black;
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 150 px;

}
.vmenu a:hover{
  background-color: greenyellow;

}
.vmenu a.active{
  background-color: #4CAF50;
  color: white;
  width: 185px;
}

#nav{
  position: absolute;
  top: 85px;
  float: left;
  width: 15%;
  height: 70%;
  background: white;
  padding: 63px;
}
#main{
  position: absolute;
  left: 15%;
  right:10%;
  top: 85px;
  height: 80%;
  padding: 20px;
  width:90%;
  background-color:white;
}
#footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;

}